<%= simple_form_for(@bm) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, input_html: { class: "high-input" } %>

  <p>Select the custom options for this bike:</p>

    <%= f.simple_fields_for :option_types do |ot| %>
      <%= ot.input :name %>
    <% end %>

  <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
  <%= f.submit "submit", class: "btn btn-outline-primary" %>
<% end %>


