<div class="container">
  <div class="row mt-5">
    <% @bicycle_models.each_with_index do |bm, index| %>
      <div class="col-12">
        <div class="card mb-3" style="max-height: 500px;">
          <div class="row no-gutters <%= "flex-row-reverse" if index.odd? %>">
            <div class="col-md-6">
              <img src=" <%= bm.url_photo %> " class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"><strong><%= bm.name.upcase %></strong> </h5>
                <p class="card-text"><%= bm.description %></p>
                <%= link_to "View", bicycle_model_path(bm), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
