<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="w-100 my-3" style="background-image: url(<%= @bm.url_photo %>); background-size: cover; background-position: center; height: 65vh;">
      </div>
      <div class="bg-white w-100 p-4 box-shadow mb-4">
        <h1><%= @bm.name.upcase %></h1>
        <p><%= @bm.description.split("Specs")[0] %></p>
        <p><strong>Specs</strong> <%= @bm.description.split("Specs")[1] %></p>
        <h5 class="mb-3 mt-5"><strong>Custom available options for this model:</strong></h5>
          <% @bm.option_types.each do |ot| %>
            <p><i class="fas fa-check pr-1"></i> <%= ot.name %></p>
          <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="card sticky-top my-3 box-shadow pl-1 pr-2">
        <div class="text-center mt-5 mb-2">
          <h5><strong>Select your custom options:</strong></h5>
        </div>
        <div>
          <%= simple_form_for [@bm, @bike] do |f| %>
            <% @bm.option_types.each do |ot| %>
              <p class="pl-3 pt-3"><%= ot.name %></p>
              <div class="card-grid">
                <% ot.options.each do |op| %>
                  <div class="pill-container">
                      <input type="checkbox" id="option-<%= op.id %>" name="options[]" value="<%= op.id %>">
                      <label class="selector" for="option-<%= op.id %>"><%= op.content %></label>
                  </div>
                <% end %>
              </div>
            <% end %>
            </div>
            <%= f.submit "Buy Now", class: "btn btn-primary ml-1 m-5" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
