<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="w-100 my-3" style="background-image: url(<%= @bm.url_photo %>); background-size: cover; background-position: center; height: 65vh;">
      </div>
      <div class="bg-white w-100 p-3 box-shadow">
        <h1><%= @bm.name.upcase %></h1>
        <p><%= @bm.description %></p>
      </div>
      <div class="bg-white w-100 p-3 my-3 box-shadow">
        <h5 class="text-center red-bottom mb-3 pb-3">Custom options for this model:</h5>
        <div class="row">
          <% @bm.option_types.each do |ot| %>
            <div class="col-4">
              <h5><strong><%= ot.name %></strong></h5>
              <% ot.options.each do |option| %>
                <p> <%= option.content %> </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card sticky-top mt-3 box-shadow" style="width: 20rem;">
        <div class="card-header">
          <strong>Select your custom options:</strong>
        </div>
        <div>
          <%= simple_form_for [@bm, @bike] do |f| %>
            <p class="pl-4"><strong>Custom options:</strong></p>
            <% @bm.option_types.each do |ot| %>
            <div>
              <h2><%= ot.name %></h2>
              <% ot.options.each do |op| %>
                <div class="pill-container">
                  <input type="checkbox" id="option-<%= op.id %>" name="option" value="<%= op.id %>">
                  <label class="option <%= op.id %>" for="option-<%= op.id %>"><%= op.content %></label>
                </div>
              <% end %>
            <% end %>
            </div>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
